.DS_STORE
node_modules
_site

# PHPStorm settings
.idea

# Ignore everything except the files needed to generate the SVGs.
assets/_font-awesome/*
!/assets/_font-awesome/fontawesome-webfont.svg
!/assets/_font-awesome/icons.yml
