{% if menu %}
<nav class="nav-off-canvas" role="navigation">
    <ul class="vertical menu">
        {% for item in menu %}
        <li class="{{ item.classes | join(' ') }} {{ item.get_children ? 'is-dropdown-submenu-parent' }}">
            <a href="{{ item.url }}" {% if item.url== page.url %}class="active" {% endif %}>
                {{ item.title }}
            </a>

            <!-- Get child menu items. -->
            {% if item.children %}
            {% include navigation/nav-main.html menu=item.children %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}