<footer class="footer">
    <div class="row">
        <div class="medium-3 large-3 columns text-center">
            <a href="{{ site.link }}"><img src="{{ site.logo | absolute_url }}"></a>
        </div>

        <div class="medium-9 large-6 columns text-left">
            <div class="contact-info">
                <svg class="icon map-marker">
                    <use xlink:href="#map-marker"></use>
                </svg>

                <a class="text-black"
                   href="http://maps.google.com/?q=Field's+Park+Motel+{{ (site.data.contact.Address.street ~ ' ' ~ site.data.contact.Address.city ~ ' ' ~ site.data.contact.Address.state ~ ' ' ~ site.data.contact.Address.zip) | url_encode }}"
                   target="_blank">
                    {{ site.data.contact.Address.street }} {{ site.data.contact.Address.city }},
                    {{ site.data.contact.Address.state }} {{ site.data.contact.Address.zip }}
                </a>
            </div>

            <div class="contact-info">
                <svg class="icon phone">
                    <use xlink:href="#phone"></use>
                </svg>

                <a class="text-black" href="tel:{{ site.data.contact.phone }}">{{ site.data.contact.phone }}</a>
            </div>

            <ul class="no-bullet">
                {% for item in site.data.contact['Social Media'] %}
                    {% assign social_site = item[0] %}
                    {% assign social_url = item[1] %}
                    
                    {% if social_url != "" %}
                        <li class="icon-social">
                            <a href="{{ social_url }}" title="{{ social_site }}">
                                <svg class="icon icon-{{ social_url }}">
                                    <use xlink:href="#{{ social_site }}"></use>
                                </svg>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="large-3 columns text-center">
            <div id="TA_certificateOfExcellence76" class="TA_certificateOfExcellence trip-advisor">
                <ul id="COSMmfgQ" class="TA_links hEvtJf">
                    <li id="6DTf6kYKdroM" class="Ugb6bZ6H">
                        <a target="_blank" href="https://www.tripadvisor.com/Hotel_Review-g60403-d556761-Reviews-Field_s_Park_Motel-Wisconsin_Dells_Wisconsin.html">
                           <img src="https://www.tripadvisor.com/img/cdsi/img2/awards/CoE2017_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="post-footer">
    <div class="row">
        <div class="medium-6 columns text-center medium-text-left">
            &copy; Field's Park Motel {{ 'now'| date: '%Y' }}
        </div>
        <div class="medium-6 columns text-center medium-text-right">
            Designed and Developed by <a href="http://www.ad-lit.com">Ad-Lit, Inc.</a>
        </div>
    </div>
</div>
