<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ '/assets/js/app.js' | absolute_url }}"></script>
<script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=76&amp;locationId=556761&amp;lang=en_US&amp;year=2017&amp;display_version=2"></script>

<script>
  WebFontConfig = {
      google: {
          families: ['Open Sans:400,400italic,700,700italic', 'Cinzel:700']
      }
  };

  (function (d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
      s.parentNode.insertBefore(wf, s);
  })(document);
</script>

{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | absolute_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}
