.booking-link {
  @include cinzel();
  font-size: 1.3rem;
}

.archive-entry {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px groove rgba($primary-color, 0.5);

  &:last-of-type{
    border-bottom: none;
  }
}

.archive-image {
  width: 100%;
  margin-bottom: 1rem;

  img {
    border: 5px solid $primary-color;
  }
}
