<div class="card">
    <div class="card-image">
        <img data-src="{{ room.image }}" width="100%" height="200" alt="{{ title }}" class="lazyload blur-up">
        <noscript><img src="{{ room.image }}" width="100%" height="200" alt="{{ title }}"></noscript>
    </div>

    <div class="card-content text-center">
        <h4 class="card-title text-primary">{{ room.title }}</h4>
        {{ room.content }}
    </div>

    <div class="card-button text-center">
        <a class="text-white" href="{{ room.url }}">View Room</a>
    </div>
</div>
