{% comment %}
    Need to set up what type of slider size to use based on if it is the homepage or not.
{% endcomment %}
{% if page.url == "/" %}
    {% assign slider = 'large_slider' %}
{% else %}
    {% assign slider = 'medium_slider' %}
{% endif %}

{% if page.slider %}
    <div class="slide-wrapper">
        <div class="orbit intrinsic {{ slider }} {{ classes }}"
                role="region"
                data-orbit
                data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;"
                data-auto-play="false"
                data-swipe="true">
            <ul class="orbit-container {{ classes }}">  
                {% comment %} SLIDESHOW IMAGES {% endcomment %}
                {% for item in site.slideshows %}
                    {% if item.path == page.slider %}
                        {% comment %} PREV/NEXT BUTTONS {% endcomment %}
                        {% comment %} Show buttons if there is more than 1 slide image. {% endcomment %}
                        {% if item.slides.size > 1 %}
                            <button class="orbit-previous" aria-label="Previous slide">
                                <svg class="icon">
                                    <use xlink:href="#angle-left"></use>
                                </svg>
                            </button>
            
                            <button class="orbit-next" aria-label="Next slide">
                                <svg class="icon">
                                    <use xlink:href="#angle-right"></use>
                                </svg>
                            </button>
                        {% endif %}

                        {% for image in item.slides %}
                            {% comment %} Setup each repeater field as TimberImage. {% endcomment %}
                            {% comment %} If this is the first slider, set this slide to active. {% endcomment %}
                            <li class="{% if forloop.index0 == 0 %}is-active{% endif %} orbit-slide {{ classes }}"
                                {% comment %} FIRST SLIDE IMG BG -- This is for the blur-up effect. {% endcomment %}
                                {% if forloop.first == true %}style="background-image: url({% image {{ slider }} {{ image }} %}); background-size: cover; background-position: center, center;"{% endif %}>

                                {% comment %} SLIDE IMAGE {% endcomment %}
                                {% comment %} Height needs to be passed into this file with an include with statement. {% endcomment %}
                                {% comment %} To get height ratio right: height = slider height( max slider height new slider height ) {% endcomment %}
                                {% comment %} ToDo: Set this up to have src-set {% endcomment %}
                                <img class="lazyload blur-up" data-src="{% image {{ slider }} {{ image }} %}">

                                {% comment %} FIRST IMAGE FOR NO JS {% endcomment %}
                                {% if forloop.first == true %}<noscript><img src="{% image {{ slider }} {{ image }} %}"></noscript>{% endif %}
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>    
    </div>
            
    {% comment %}
        <div class="slide-wrapper">
            <ul class="hero-slick hero intrinsic ">       
                <!-- SLIDESHOW IMAGES -->
                {% for image in page.slide_images %}
                <li>
                    <img data-src="{% image {{ slider }} {{ image }} %}" class="lazyload">
                    <!-- FIRST IMAGE FOR NO JS -->
                    <noscript><img src="{% image {{ slider }} {{ image }} %}"></noscript>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endcomment %}
{% endif %}
