// ---------------------------------------
//  Lazyloading
// ---------------------------------------
// Styles to blur low quality image and fade in the High Quality over it.
.lazyload.blur-up,
.lazyloading.blur-up {
  filter: blur(10px);
  transition: filter 1s;
}

.lazyloaded.blur-up {
  filter: blur(0);
}

// ---------------------------------------
//  Intrinsic Sizes
// ---------------------------------------
.intrinsic {
  position: relative;
  height: 0;

  &.hero {
    @include intrinsic-ratio(1600, 550);
  }

  &.sub-page {
    @include intrinsic-ratio(1600, 450);
  }

  img,
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    overflow: hidden;
  }
}

.after-content-wrapper{
  background: $light-gray;
}

.after-content{
  max-width: $global-width;
  margin: 0 auto;
}