// ---------------------------------------
//  General helper classes
// ---------------------------------------
a {
  transition: color .2s ease;
}

.text-upper {
  text-transform: uppercase;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

// ---------------------------------------
//  Fonts
// ---------------------------------------

body {
  @include opensans;

  @include breakpoint(medium) {
    font-size: 1.125rem;
  }
}

/**
 * Override Foundation defaults font with Open Sans.
 */
body,
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include cinzel;
}

.cinzel {
  @include cinzel;

  text-transform: uppercase;
}

.open-sans {
  @include opensans;
}
