---
layout: default
---
<div class="row column">
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <section class="article-content">
            <h1 class="article-h1">{{ page.title }}</h1>
            <div class="article-body">
                {{ page.content }}
            </div>
        </section>
    </article>
</div>

{% for room in site.rooms %}
<div class="row archive-entry">
    {% if room.image %}
    <div class="medium-3 column">
        <img data-src="{{room.image}}"
             class="lazyload blur-up">

        <noscript>
            <img src="{{site.url}}{{room.image}}">
        </noscript>
    </div>
    {% endif %}
    <div class="medium-9 column">
        <h4 class="text-primary">{{ room.title }}</h4>
        <div class="archive-text">
            {{ room.content }}
        </div>
        <div class="archive-button">
            <a href="{{ room.url }} ">
                <div class="button booking-link">Book Now</div>
            </a>
        </div>
    </div>
</div>
{% endfor %}}