---
layout: default 
--- 
{{ content }}

<div class="row column">
    {{page.title}}
    <form id="js-form" name="Contact" netlify-honeypot="bot-field" data-abide novalidate netlify>
            <p class="hide">
                    <label>Don’t fill this out: <input name="bot-field"></label>
                  </p>
        <div class="row">
            <label class="medium-6 columns">
                First <span class="alert">*</span>
                <input type="text" name="first" required>
                <span class="form-error">
                    Please fill out this field.
                </span>
            </label>

            <label class="medium-6 columns">
                Last Name
                <input type="text" name="phone" required>
                <span class="form-error">
                    Please fill out this field.
                </span>
            </label>
        </div>
        <div class="row">
            <label class="medium-6 columns">
                Phone
                <input type="tel" pattern="dashes_only" name="phone">
                <span class="form-error">
                        Please fill out this field, only dashes and numbers are allowed.
                    </span>
            </label>

            <label class="medium-6 columns">
                Email
                <input type="email" name="email" required>
                <span class="form-error">
                    Please fill out this field.
                </span>
            </label>
        </div>
        <div class="row">
            <label class="medium-12 columns">
                Message
                <textarea name="message" required></textarea>
                <span class="form-error">
                    Please fill out this field.
                </span>
            </label>
            <button type="submit" class="button booking-link">Submit</button>
        </div>
    </div>
    </form>
    <div id="js-confirmation" class="confirmation">
        Thank you for emailing us! We will get back to you as soon as possible.
    </div>
</div>