---
layout: default
---
{{ content }}

<div class="row"> 
    Email me
    <form id="js-contact" name="Contact" method="POST" netlify>
        <label class="medium-6 columns">
            First Name
            <input type="text" name="first">
        </label>

        <label class="medium-6 columns">
            Last Name
            <input type="text" name="phone">
        </label>

        <label class="medium-6 columns">
            Phone
            <input type="text" name="phone">
        </label>

        <label class="medium-6 columns">
            Email
            <input type="email" name="email">
        </label>

        <label class="medium-12 columns">
            Message
            <textarea name="message"></textarea>
        </label>

        <button type="submit" class="button booking-link">Submit</button>
    </form>
</div>
<script>
    $("#js-contact").submit(function(e) {
  e.preventDefault();

  var $form = $(this);
  $.post($form.attr("action"), $form.serialize()).then(function() {
    alert("Thank you!");
  });
});
</script>